:root
{
  --primaryblue:#001eff;
  --menu-text-color:#4f4f4f;
  --title-text-color:#000000;
  --positive-color:#39c69c;
  --negative-color:#d22d2d;
  --footer-text-color:#747474;
  --footer-heading-color:#c6c6c6;
  --footer-bg:#1a1a1a;
  --body-bg-grey-color: #fafafa;
  --body-white-bg: #ffffff;




}

