@import "./constants.css";
body{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.body-block{
    width: 65%;
    margin: 0px 18%;
    
}
td{
    font-size: .9rem;
}
.search-bar{
    height: 35px;
    border: 0.1px solid  var(--footer-heading-color);
    width: 320px;
    padding: 15 px;
    margin-right: 0;
    margin-left: auto;

}
#search-box
{   padding: 8 48 0 16;
    height: 22px;
    width: 280px;
    font-size: 1rem;
    outline: none;
    border: none;
}
#search-icon
{
    padding:10px 10px 10px 0px;
    color:var(--menu-text-color);
}
.nav-bar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0%;
}
.nav-logo-img{
    height: 88px;
    width: 160px;
}
.navbar-menu{
display: flex; 
justify-content: flex-end;
}
.menu-list { 
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.menu-items a{
    text-decoration: none;
    margin: 5px ;
    color: var(--menu-text-color);
    padding-right: 10px;
    padding-bottom: 15px;
    border-right: 1px solid var(--footer-heading-color);
}
.menu-items a:hover{
    border-bottom: 5px solid var(--primaryblue);
}
.menu-items-user{
    color: var(--menu-text-color) ;
    margin: 5px;
    padding-top: 20px;
    padding-left: 15px;
}
.menu-items-app{
    padding-top: 16px;
    padding-left: 15px;
}


.slider-section{
    height: auto;
    width: 100%;
}
.marquee-text{
    display: flex;
    margin: 5px 1px;
}

.marquee-item{
    margin: 5px 25px;
}
#show-app{
    width: 18px;
    height: 18px;
}
.marque-line-2{
    display: flex;
}
.share-price{
    font-weight: 600;
}
.price-change-positive{
    color: var(--positive-color);
}
.price-change-positive-ftse{
    color: var(--positive-color);
    display: inline;
}
.price-change-negative-ftse{
    color: var(--negative-color);
    display: inline;
}
.price-change-negative{
    color: var(--negative-color);
}

.full-width-div{
    background-color: var(--body-bg-grey-color);
    padding: 20px 0px;
}

.markets-col{
    display: flex;
    justify-content: center;
    
}
.delayed-text{
    font-size: .8rem;
    color:  #4d4d4d;
    padding-bottom: 50px;
}
.indices{
    background-color: white;
    padding-left: 10px;
}
.indices-table {
    margin: 50px 300px 50px 0px;
    width: 100%;
    
}
#index-name-left-border{
    border-left: 4px solid blue;
}
.align-right{
    text-align: right;
}
.indices-expanded{
    background-color: white;
    padding: 30px;
}
.index-name{
    font-weight: bold;
}
.caret{
    padding:0px 6px;
}
.indices-table tr td{  
    
    padding: 10px;
    background-color: var(--body-white-bg);
    
}
.indices-exp-title-ul{
    display: flex;
    border-bottom: 2px solid #b2b2b2;
    justify-content: space-between;
    padding-left: 0px;
}
.indices-exp-title-ul li:first-child{
    border-bottom: 4px solid blue;
}

.indices-exp-title{
    display: inline;
    padding: 20px 30px;
   
}
.blue-button{
    background:var(--primaryblue);
    border: 0.0625rem solid var(--primaryblue);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: .875rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.5089rem 1.651785rem;
    text-align: center;
    text-decoration: none;
    font-weight: 700;

}

.quick-links{
    margin-top:30px;
    display: flex;
    justify-content: space-around;
}
.q-l-icon-text{
    display: flex;
    align-items: center;
    
}
.latest-news{
    margin:100px 0px;
}
.latest-news-container{
    display: flex;
    justify-content: space-evenly;
}
.latest-news-items{
    width: 400px ;
    padding: 20px;
}
.latest-news-thumbnail{
    width: 100%;
}
.news-heading{
    font-size: .984375rem;
    font-weight: 700;
}
.news-body{
    font-size: .9rem;
    line-height: 1.78em;
}
.why-investing{
    width:50%;
}
.webcast-section{
    display: flex;
}
.webcast-body-text{
    font-size: .984375rem;
    line-height: 1.78em;
}
.learn-section{
    margin: 100px 0px;
}
.personal-inv-container{
  display: flex;
  justify-content: space-between;
  gap:30px;

}
.personal-inv-thumbnail{
    width:100%;
}
.personal-investing-title{
    font-size: .984375rem;
    font-weight: 700;
}
.personal-investing-body{
    font-size: .984375rem;
    line-height: 1.78em;
}
.journey-to-growth-sec{
    position: relative;
}
.journey-to-growth-block{
    width:400px;
    height: 400px;
    background-color: #ffffff;
   position: absolute;
   right: 0px;
   top:30px;
   padding: 30px 20px;
   line-height: 30px;
  
}
.journey-to-growth-block p,a{
    font-size: .984375rem;
    line-height: 1.78em;
    
}
.journey-to-growth-block a{
    color:#001eff;

}
.journey-to-growth-image{
    width:100%;
}
.blue-line{
    height: 10px;
    background-color: #001eff;
    margin: 0x;
    padding: 0px;
}
footer{
    margin-top:0px;
    background-color: #1a1a1a ;
    background-image: url(../images/footer-background.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    height: 630px;
}

.footer-container{
    display: flex;
    padding-top: 50px;
    justify-content: space-evenly;

    color: rgb(255, 255, 255);
}
.footer-logo{
    margin-top:20px;
    height: 90px;
    width: 180px;
}
.footer-col ul{
padding-left: 0px;

}

.footer-menu-item {
    list-style: none;
    margin-left: 0%;
}
.footer-menu-item a {
    text-decoration: none;
    color: #ccc;
    font-size: .9375rem;
}
.ftse100-blue-text{
    color: blue;
}
.body-block-quicklinks{
    background-color: white;
}

.quick-links{
    padding: 40px 20px;
    background-color: #f8f9fa;
}
.quick-links-items tr td{
    padding: 10px 50px;
}
#copyright{
    margin-top:200px;
    color: gray;
    font-size: .8rem;
    line-height: 1rem;
    font-weight: 500;
}