body{
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.body-block{
    width: 70%;
    margin: 10px 12%;
}

.search-bar{
    margin-top: 30px;
    height: 40px;
    border: 1px solid #E6E6E6;
    width: 336px;
    padding: 15 px;
    margin-right: 0;
    margin-left: auto;

}
#search-box
{   padding: 8 48 8 16;
    height: 22px;
    width: 270px;
    font-size: 1rem;
    outline: none;
    border: none;
}
#search-icon
{
    padding: 10px;
    color:#706f6f;
}
.nav-bar-section{
    display: flex;
    justify-content: space-between;
}
#nav-logo{
    height: 88px;
    width: 160px;
}
.navbar-menu{
display: flex; 
justify-content: flex-end;
}
.menu-list { 
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.menu-items{
    text-decoration: none;
    margin: 5px ;

}
.menu-items-user{
    padding-top: 15px;
    margin: 5px;
}
.menu-button-seperator{
    height: 30px;
    width:10px;
    background-color: #a8a7a7;
}
.slider-section{
    height: auto;
    width: 100%;
}
.marquee-text{
    display: flex;
    margin: 5px 10px;
}

.marquee-item{
    margin: 5px 15px;
}
#show-app{
    width: 18px;
    height: 18px;
}
.marque-line-2{
    display: flex;
}
.share-price{
    font-weight: 600;
}
.price-change-positive{
    color: #28a745;
}
.price-change-negative{
    color: #dc3545;
}
.markets-col{
    display: flex;
    justify-content: space-between;
}
.indices-exp-title{
    text-decoration: none;
    display: inline;
    margin: 20px 30px ;
}
.quick-links{
    display: flex;
    justify-content: space-between;
}
.q-l-icon-text{
    display: flex;
    align-items: center;
}
.latest-news-container{
    display: flex;
    justify-content: space-evenly;
}
.latest-news-items{
    width: 400px ;
    padding: 20px;
}
.latest-news-thumbnail{
    width: 100%;
}
.webcast-section{
    display: flex;
}
.personal-inv-container{
  display: flex;
  justify-content: space-between;
}
.journey-to-growth-sec{
    position: relative;
}
.journey-to-growth-block{
    width:400px;
    height: 400px;
    background-color: #E6E6E6;
   position: absolute;
   right: 0px;
   top:30px;
}
.blue-line{
    height: 10px;
    background-color: #007bff;
}
footer{
    background-color: #1a1a1a ;
}

.footer-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(255, 255, 255);
}
.footer-logo{
    height: 90px;
    width: 180px;

}
.footer-col ul{
padding-left: 0px;
}
.footer-menu-item {
    list-style: none;
    margin-left: 0%;
}
.footer-menu-item a {
    text-decoration: none;
    color: grey;
}
